/* estilo geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgb(61, 8, 109);
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(223, 204, 241);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

/* estilo do cabeçalho */
header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #fff;
    transform: scale(1.05);
}


header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(223, 204, 241);
    border: 0;
    border-radius: 30px;
    cursor: pointer;

}

.btn-contato button:hover {
    box-shadow: 0px 0px 8px orchid;
    transform: scale(1.05);
}

/* estilo topo do site */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site p {
    color: #fff;
    margin: 40px 0;

}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top:0;
    }
    100%{
        top: 30px;
    }
}
/* ESTILO FORMAÇÃO */
section.formaçao {
    padding: 100px 4%;
}

section.formaçao .flex {
    gap: 60px;
}

.formaçao .formaçao-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s

}

.formaçao .formaçao-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px #fff;

}

/* estilo sobre */
section.sobre {
    padding: 40px 4%;
}

section .flex{
    align-items: center;
    gap: 60px;
}

.txt-sobre {
    color: #fff;
}

.txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.txt-sobre h2 span {
    color: fuchsia;
    display: block;
}

.txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

/* estilo formulario */
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea {
    width: 100%;
    background-color: #a185a1ef;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;   
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #a185a1ef;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

/* estilo do rodape */
footer {
    padding: 40px 4%;
    box-shadow: 0  0 40px 10px #ffffff1d;
}
    
.line-footer p {
    color: #fff;
    font-size: 22px;
}

footer .line-footer p a{
    color: #fff;

}

